.rm
{
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: white;
    margin: 50px;
    padding: 40px;
}
.apidata
{
    /* display: flex; */
    font-size: 30px;
}
 .rrm img
{
    padding: 40px;
}

