.rm
{
    text-align: center;
    font-size: 50px;
}
.apidata
{
    /* display: flex; */
    font-size: 30px;
}
head , body{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}